# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

# API key to interact with LLM
OPENROUTER_API_KEY=
GEMINI_API_KEY=

JWT_SECRET="12345"

# BEWARE: changing the default lightning address later might break apps
#DEFAULT_LIGHTNING_ADDRESS="hello@getalby.com"
#DEFAULT_NWC_URL="nostr+walletconnect://..."

# Used to receive zaps
SERVICE_NWC_URL="nostr+walletconnect://..."

BASE_URL="http://localhost:3001"